@charset "UTF-8";

@@font-face {

}

body {
  background: #edf0f1;
}
body, input, button {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 5px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #25b99a;
  box-shadow: 0px 2px 4px rgba(44, 62, 80,0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*-----------------------------------------------------------*/
header input {
  width: 100%;
  height: 50px;
  float: left;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0px;
  color: #fff;
  font-size: 15px;
  font-weight: 400px;
  text-indent: 20px;
  box-shadow: none;
  padding: 0px 60px 0px 0px;
  outline: none;
  appearance:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
header input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-size: 19px;
  font-family: Roboto-Regular;
}
header input:-ms-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
header input::webkit-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
/*--------------------------------------------*/
header button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 2;
  border-radius: 25px;
  border: 0px;
  box-shadow: none;
  margin-right: -9px;
  background: #fff;
  outline: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;

}
/*----------------------------------------------------------------------------*/
header button svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}
header button svg .fill {
  fill:#25b99a;
}
